<div>       
        
        ------------
        <br>
       <h5>Title:{{article.title}}</h5>
        <h5>Slug:{{article.slug}}</h5>
        <h5>Description:{{article.description}}</h5>
        <h5>Body:{{article.body}}</h5>
        <h5>Author:{{article.author.username}}</h5>
        <h5>Tag List:{{article.taglist}}</h5>
        <br>
        -------------
</div>
<div>
    <add-comment [slug]="article.slug"></add-comment>
</div>
<div>
    <article-comments [comments]="comments"></article-comments>
</div>
<div >

</div>