
<div class="container">
<nav>
        <div class="nav-wrapper">
          <a routerLink="/" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Home </a></li>
            <li *ngIf="!isAuthenticated"><a routerLink="/login" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Sign in </a></li>
            <li *ngIf="!isAuthenticated"><a routerLink="/register" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}" >Sign Up </a></li>
            <li *ngIf="isAuthenticated"><a (click)="logout()" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Sign out </a></li>
            <li *ngIf="isAuthenticated"><a routerLink="/articles/new" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">Create Article </a></li>
            <li *ngIf="isAuthenticated"><a routerLink="/articles/my-articles" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:true}">My Articles </a></li>
          </ul>
        </div>
      </nav>
    </div>
