    <div class="row">
        <div class="col s12 m12 l8">
            <div>
                <div *ngFor="let article of allArticles" >
                    ------------
                    <br>
                    <a [routerLink]="['/articles', article.slug]"><h5>Title:{{article.title}}</h5></a>
                    <h5>Slug:{{article.slug}}</h5>
                    <h5>Description:{{article.description}}</h5>
                    <h5>Body:{{article.body}}</h5>
                    <h5>Author:{{article.author.username}}</h5>
                    <h5>Tag List:{{article.taglist}}</h5>
                    <br>
                    -------------
                    
                </div>

            </div>
            <div *ngIf="isAuthenticated">
                <h5>Feed</h5>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div *ngFor="let article of feed" >
                    ------------
                    <br>
                    <a [routerLink]="['/articles', article.slug]"><h5>Title:{{article.title}}</h5></a>
                    <h5>Slug:{{article.slug}}</h5>
                    <h5>Description:{{article.description}}</h5>
                    <h5>Body:{{article.body}}</h5>
                    <h5>Author:{{article.author.username}}</h5>
                    <h5>Tag List:{{article.taglist}}</h5>
                    <br>
                    -------------
                    
                </div>

            </div>

            
            
               
        </div>
        <div class="col s12 m12 l4">
               
                    <div>
                        <h4>Tags</h4>
                        
                        <div *ngFor="let tag of tags">
                                {{tag}}
                        </div>
                       
                    </div>
        </div>
    </div>
 

   
    